:root {
  --color-white: #fff;
  --black-color: #000;
  --color-grey: #323232;
  --color-grey-light: #f4f4f4;
  --color-blue: #158fd3;
  --color-hover: rgba(21, 143, 211, 0.25);
  --color-bg: rgba(207, 220, 226, 0.25);
  --color-bg-hex: #f3f6f8;
  --color-green: #53a138;
  --color-light-green: #d0e3c9;
  --color-yellow: #eea414;
  --color-red: #d31515;
  --color-border: #e7eff4;
  --transparent-black: #0000;
  --color-svg-blue: brightness(0) saturate(100%) invert(61%) sepia(78%) saturate(6289%) hue-rotate(179deg) brightness(99%) contrast(84%);
  --color-svg-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(73deg) brightness(113%) contrast(101%);
}
