::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  cursor: pointer;

  &-track {
    height: auto;
    background-color: transparent;

    &:hover {
      background-color: var(--color-grey-light);
    }
  }

  &-thumb {
    border-radius: 4px;
    background-color: rgba(64, 82, 97, .6);
    transition: .2s;

    &:hover {
      background-color: rgba(64, 82, 97, 1);
    }
  }
}
