$ui-index-1: 1;
$ui-index-2: 2;
$ui-index-3: 3;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

$border-radius-default: 10px;
$border-radius-sm: 4px;

$default-transition: .3s ease-in-out;

$lg: 980px;
$sm: 640px;
$xs: 0;

$ui-mobile: 'screen and (width < #{$sm})';
$ui-tablet-landscape: 'screen and (#{$sm} < width <= #{$lg})';
$ui-notebook: 'screen and (#{$lg} < width)';
