$ui-index-1: 1;
$ui-index-2: 2;
$ui-index-3: 3;
$ui-index-4: 4;
$ui-index-5: 5;
$ui-index-6: 6;

$default-transition: .3s ease-in-out;

// breakpoints
$lg: 980px;
$sm: 665px;
$xs: 0;

$ui-mobile: 'screen and (width < #{$sm})';
$ui-tablet-landscape: 'screen and (#{$sm} < width <= #{$lg})';
$ui-notebook: 'screen and (#{$lg} < width)';
